# 外网
OUTER_INTERFACE=ens34
OUTER_SUBNET=192.168.90.0/24
OUTER_GATEWAY=192.168.90.85
OUTER_IP_RANGE=192.168.90.101/32
# 外网网卡 IP
OUTER_IP=192.168.90.101

# 内网
INNER_INTERFACE=ens33
INNER_SUBNET=192.168.250.0/24
INNER_GATEWAY=192.168.250.231
INNER_IP_RANGE=192.168.250.101/32
# 内网网卡 IP
INNER_IP=192.168.250.101

# 时区
QB_TZ=Asia/Shanghai
# Web UI 端口
QB_WEBUI_PORT=8080
# 种子端口
QB_TORRENTING_PORT=6881
# 配置文件路径
QB_CONFIG_PATH=./config
# 下载路径
QB_DOWNLOAD_PATH=./downloads
