# 进行 macvlan 的网络接口
INTERFACE=ens33
# 和 $INTERFACE 同一子网
SUBNET=192.168.250.0/24
# 网关
GATEWAY=192.168.250.231
# IP 地址分配的范围
IP_RANGE=192.168.250.217/32

# 时区
QB_TZ=Asia/Shanghai
# Web UI 端口
QB_WEBUI_PORT=8080
# 种子端口
QB_TORRENTING_PORT=6881
# 配置文件路径
QB_CONFIG_PATH=./config
# 下载路径
QB_DOWNLOAD_PATH=./downloads
